# This file can be deleted - using actual .env file instead
# OPEN CHARGE MAP API KEY (Used by Express Backend)
OCM_API_KEY="314019c2-aae9-4f55-93bf-0fc22b4cc8d9"


# PORT=5000
# NODE_ENV=development
# MONGODB_URI=mongodb://localhost:27017/ev-locator
# JWT_SECRET_KEY=your-super-secret-jwt-key-change-in-production
# FRONTEND_URL=http://localhost:5173
# CLIENT_URL=http://localhost:3000
MONGO_URI=mongodb://localhost:27017/ev_booking_app
JWT_SECRET=mysupersecret123
PORT=5000

